body {
  --main-background-color: #ffffff;
  --body-background-color: #dfdfdf;
  --secondary-background-color: #bebebe;
  --accent-color: #ff8e01;
  --in-progress: #ffaf00;
  --paused-color: #ffe280;
  --font-color: #161616;
}

body.dark-theme {
  --main-background-color: #0c0c0c;
  --body-background-color: #282828;
  --secondary-background-color: #404040;
  --accent-color: #ff8e01;
  --in-progress: #ffaf00;
  --paused-color: #ffe280;
  --font-color: #cecece;
}

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--main-background-color);
  color: var(--font-color);
}

div {
  margin: 0.5rem 0;
}

#main {
  padding: 0 1rem;
  margin: 0.1rem;
  background-color: var(--body-background-color);
  border: var(--body-background-color) solid 2px;
  border-radius: 1rem;
}

h3 {
  margin: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-theme {
  border: none;
  background-color: var(--accent-color);
  color: black;
  justify-self: flex-end;
  flex: 0 0 auto;
  box-shadow: 2px 2px var(--font-color);
}

.toggle-theme:active {
  box-shadow: none;
  translate: 2px 2px;
}

input,
select,
textarea {
  outline: none !important;
  background-color: var(--body-background-color);
  color: var(--font-color);
  border-radius: 0.5rem;
  border: 2px solid var(--font-color);
}

#text {
  width: 100%;
  border-radius: 1rem;
  padding: 0.5rem;
}

#text::selection {
  background-color: var(--secondary-background-color);
}

#buttons {
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
  width: 100%;
  background-color: var(--secondary-background-color);
  border-radius: 0.5rem;
}

button {
  margin: 0 1rem;
  flex-grow: 1;
  display: inline-block;
  background-color: var(--accent-color);
  border-radius: 1rem;
  border-color: var(--accent-color);
}

#progress {
  text-align: center;
  width: 0%;
  color: black;
}

#progressBar {
  width: 100%;
  margin: 1rem 0;
}

#progress,
#progressBar {
  background-color: var(--main-background-color);
  border-radius: 5px;
}
